<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>
      body{
        margin: 0;
        padding: 0;
        font: 400 .875rem 'Open Sans', sans-serif;
        color: #3e61a7;
        background: rgb(68, 76, 80);
        position: relative;
        height: 100%;
    }

.table {
  background: #080808;
  color: #bcd0f7;
  font-size: .75rem;
}
    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
 
    <title>Hopital</title>
    <script >
      function afficherAutresPatients() {
        var nomSelect = document.getElementById('nom-select');
        var selectedNom = nomSelect.value;
    
        var dateSelect = document.getElementById('date-select');
        var heureSelect = document.getElementById('heure-select');
    
        dateSelect.innerHTML = "";
        heureSelect.innerHTML = "";
    
        {% for patient in patient_list %}
            {% if  patient.medecin  == selectedNom %}
                var optionPrenom = document.createElement('option');
                optionPrenom.textContent = "{{ patient.date }}";
                dateSelect.appendChild(optionPrenom);
    
                var optionAge = document.createElement('option');
                optionAge.textContent = "{{ patient.heure }}";
                heureSelect.appendChild(optionAge);
            {% endif %}
        {% endfor %}
    }
  </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: #125874;">
            <a class="navbar-brand" href="/">HOSPITAL APP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
              
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Languages
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">English</a>
                      <a class="dropdown-item" href="#">French</a> 
                    </div>
                  </li>
                </ul>
              </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
            
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    More option
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Ajouter Patient</a>
                    <a class="dropdown-item" href="#">Add admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Statistic</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </header>

    

    <div class="container">
        
        {% block content %}
    

        {% endblock content %}
    </div>
<!-- 
    <footer class="bg-light text-center text-dark">

       copyright 
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        facture system © 2023 copyright:
        <a href="#"> Dollar Programmer</a>
      </div>
  
       endcopyright 
  
    </footer>

-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>