{% extends "base.html" %} {% load static %} {% block content %}


<div class="col-12" style="margin-top: 15vh">
    <h2 class="text-center">Rendez-vous</h2>
    <div class="card top-selling overflow-auto mt-5">
        <div class="card-body pb-0"> 
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Noms</th>
                        <th scope="col">Prénoms</th>
                        <th scope="col">Date</th>
                        <th scope="col">heure</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>


                    {% for elt in data %}
                    <tr class="userLine">
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ elt.nom }}">
                                <button type="submit" class="text-primary fw-bold bg-light" style="border: 0;">{{elt.nom }}</button>
                            </form>

                        </td>

                        <!-- <td><a href="/patient/{{ elt }}" class="text-primary fw-bold">{{ elt.nom }}</a></td> -->
                        <td>{{ elt.prenom }}</td>

                        <td>{{elt.date}}</td>

                        <td class="fw-bold">{{ elt.heure }}</td>
                        <td><span class="badge bg-warning">Non reçu</span></td>

                    </tr>
                    <input type="hidden" id="doctSpeciality" value={{ user.Specialite }}>
                    <input type="hidden" class="customerLookingFor" value={{ elt.medecin }}>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/file-d-attente.js' %}"></script>

{% endblock content %}